@tailwind base;
@tailwind components;
@tailwind utilities;


.debug {
  border: 1px solid red;
}

.dark-card{
  @apply bg-event-gray rounded-lg p-4;
}

.cls-1{
  @apply fill-white;
}

.menu-text {
  @apply text-light-grey font-semibold tracking-widest hover:text-white hover:cursor-pointer;

}

.vertical-separator {
  @apply border border-white h-8 mx-3;
} 
